
.navbar
{
  background-color: #EBC250;
}

.hero{
  background-color: #18191A;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0,0,0);
}

.skills{
  background: url(../img/skills.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.social_icons
{
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 margin-top: 40vh;
 width: 6%;
 height: 45%;
 overflow: auto;
}

.social_icons div
{
  display: inline-block;
  width: 55.5%;
  margin: auto;
  border: 2px solid #EBC250;
  border-radius: 23px;
  padding-top: 4px;
  margin: 3px;
}

.social_icons div a
{
  text-decoration: none;
  color: inherit;
}

@font-face {
  src: url(Roboto-Thin.ttf);
  font-family: roboto;
}

html, body {
  background-color: black;
  position:relative;
  overflow-x:hidden;
  margin: 0;
  width: 100%;
}

.header{
  background-color: black;
}

/*Remove after fixing issue*/
.myHeading{
  font-family: roboto;
  font-size: 72px;
}

.dev{
  font-family: roboto;
  font-size: 28pt;
}

.scroll_down a
{
  text-decoration: none;
  color: #EBC250;
}

.contact-form{
  margin-top: 10vh;
  text-align: center;
}

.footer{
  background-color: black;
  height: 10vh;
  color: white;
  text-align: center;
}

.about-section {
  padding-top: 10rem;}

.about-section p {
  margin-bottom: 5rem;
}

.contact-section {
  padding-top: 5rem;
  background-color: black;
}

.contact-info ol {
  padding: 0;
  margin: 0;
}
 .contact-info ol li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}

.contact-info ol a{
  text-decoration: none;
  color:white;
}

.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}


@media (max-width: 576px) {
  .social_icons
  {
    display: none;
  }
}

@media (max-width: 768px) {
  .social_icons
  {
    display: none;
  }
}

@media (max-width: 992px) {
  .social_icons
  {
    display: none;
  }
}
