@font-face {
  src: url(Roboto-Thin.ttf);
  font-family: roboto;
}

html, body {
  position:relative;
  overflow-x:hidden;
  margin: 0;
  width: 100%;
}

/*Remove after fixing issue*/
.myHeading{
  font-family: roboto;
  font-size: 35pt;
}

.contact-form{
  margin-top: 10vh;
  text-align: center;
}

.footer{
  background-color: black;
  height: 10vh;
  color: white;
  text-align: center;
}


/* styles for devices with screen widths of 481px to 1024px */
@media only screen and (min-width: 481px) and
(max-width: 1024px){


}
